.grid {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.grid img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 400px;
}

.roomInfo {
    margin: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(175, 148, 83, 0.9);
    color: var(--background);
    opacity: 0;
    transition: opacity .3s;
}

.roomInfo:hover {
    opacity: 1;
    transition: opacity .3s;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}