.navbarTransparent {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    background-color: transparent;
    color: var(--background);
    transition: background-color .3s, color .3s;
}

.navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: var(--background);
    color: var(--text);
    transition: background-color .3s, color .3s;
}

.navItem {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-variant: all-petite-caps;
}

.title h3 {
    margin: 0;
    line-height: 1.2;
    font-weight: bold;
}

.title h3:nth-child(1) {
    font-weight: lighter;
}

.underline {
    height: 3px;
    width: 50px;
    background-color: var(--text);
    opacity: 0;
    transition: opacity .3s;
}

.underlineTransparent {
    height: 3px;
    width: 50px;
    background-color: var(--background);
    opacity: 0;
    transition: opacity .3s;
}

.navItem:hover, .navItem:hover div {
    cursor: pointer;
    opacity: 1;
    transition: opacity .3s;
}

.flexContainer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-inline: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.innerFlexLeft {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.innerFlexRight {
    display: flex;
    align-items: center;
    gap: 40px;
    font-size: 18px;
}
