.image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.overlay {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FDFDFD;
}

.content {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleContainer {
    max-width: 800px;
}

.titleContainer h1 {
    font-size: 40px;
}

.spacer {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.scrollIndicator {
    width: fit-content;
    border: 1px solid #FDFDFD;
    padding: 8px;
}

.hidden {
    opacity: 0;
}