.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 75px;
    background-color: var(--background);
}

.flexContainer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-inline: 25px;
}

.innerFlex {
    display: flex;
    align-items: center;
    gap: 20px;
}
